
@media only screen and (max-width: 768px) {
  .box {
      flex-direction: column; 
      align-items: center; 
  }

  .element-with-border {
      width: 100%; 
  }

  .judul1 {
      font-size: 30px; 
  }


}


body {
  padding: 0;
  margin: 0;
  background-image: url(/img/backgroun1.jpg);
}

.element-with-border {
  width: 100%;
  border: 2px solid transparent;
  padding: 10px;
  margin: 0 auto;
  backdrop-filter: blur(10px);
  background: rgba(199, 230, 230, 0.3);
}

.judul1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: rgba(199, 230, 230, 0.3);
  text-shadow: 5px 5px 5px rgba(182, 206, 206, 0.3);
}

.border:hover {
  background: linear-gradient(45deg, #6748efe0, #d36fd6);
  box-shadow: 5px 5px 10px red;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}



.dropdown-menu {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

#border:hover {
  background: linear-gradient(45deg, #6748efe0, #d36fd6);
  box-shadow: 5px 5px 10px red;
}

.element-with-border:hover{
  background: linear-gradient(45deg, #6748efe0, #d36fd6);
  box-shadow: 5px 5px 10px red;

}

.navbar-nav .nav-link:hover {
  color: #ff1100; 
}


.navbar-nav .nav-link.active:hover {
  color: #ff2600; 
}


.navbar-nav .nav-link:hover {
  background-color: #4b4747; 
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  position: relative;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
}

.card:hover .card-front {
  transform: rotateY(180deg);
}

.card:hover .card-back {
  transform: rotateY(0deg);
}

.card .card-img {
  width: 300px; 
  height: 300px; 

  border-radius: 10px;
}

.card-text {
  margin: 0;
  padding: 10px;
  text-align: center;
}

.box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}



#border{
 
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8); 
    border: 2px solid rgba(255, 0, 150, 1); 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(255, 0, 150, 0.5);
    overflow: hidden; 
  
   
    background-image: linear-gradient(90deg, rgba(255, 0, 150, 1), rgba(0, 0, 0, 0));
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.5s;
    
  
  
}




