*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  background-image: url(/img/backgroun1.jpg);

}




.element-with-border:hover{
  background: linear-gradient(45deg, #ef4848, #6f86d6); 
  box-shadow: 5px 5px 10px red;
}

.element-with-border {
  border: 2px solid transparent;
  padding: 20px;
  margin: 0 auto;
  backdrop-filter: blur(10px);
  background: rgba(199, 230, 230, 0.3);
}


.element-with-border2 {
  border: 2px solid transparent;
  padding: 20px;
  margin: 0 auto;
  backdrop-filter: blur(10px);
  background: rgba(199, 230, 230, 0.3);
}



.container1 {
  position: relative;
  max-width: 1350px;
  width: 100%;
  padding: 20px;
  margin: 50px auto;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background: rgba(200, 240, 240, 0.5);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}



.filter_buttons{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
   gap: 10px;

}

button.active{
  background: #4070f4;
  color:#fff;
}

.filterable_card{
  display: flex;
  margin-top: 25px;
  gap: 20px;
  flex-wrap: wrap;

}

.card{
  flex-grow: 1;
  flex-basis: 300px;
  backdrop-filter: blur(10px);
  background: rgba(199, 230, 230, 0.3);
  padding: 3px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0,0,0,0.05);
}
.card.hide{
  display: none;
}

.card .img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0 ;
}


.card_body{
  padding: 15px 20px 20px;
}

.card_title{
  font-size: 20px;
  font-weight: 500;
  color: #333;
}

.card_text{
  font-size: 20px;
  color: #333;
}

.container {
  width: 100%;
}

.card {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .col-sm-4 {
    width: 100%;
    margin-bottom: 20px;
  }
}


.navbar-nav .nav-link:hover {
  color: #ff1100; 
}


.navbar-nav .nav-link.active:hover {
  color: #ff2600; 
}


.navbar-nav .nav-link:hover {
  background-color: #4b4747; 
}

button:hover {
  background: linear-gradient(45deg, #ef4848, #6f86d6); 
box-shadow: 5px 5px 10px red;
}


.card:hover{
  background: linear-gradient(45deg, #ef4848, #6f86d6); 
  box-shadow: 5px 5px 10px red;
}


.label {
 
  text-align: center;
  margin-top: 20px;
  background-color: #ef4848;
}

