body{
    padding: 0;
    margin: 0;
background-image: url(/img/backgroun1.jpg);
}

.element-with-border {
    width: 100% auto;
    height: 100% auto; 
    border: 2px solid transparent; 
    padding: 20px;
    margin: 0 auto;
    backdrop-filter: blur(10px);
    background: rgba(199, 230, 230, 0.3); 

  
  }

